.header{
     width: 80%;
     font-size: 22px;
}

#webcam_view{
     border: 2px dashed black;
     width: 350px;
     height: 300px;
}

#result_obj, #accuracy, .b_tag{
     color: black;
     
}